<div class="wrapper-normal">
    <div class="header-home">
        <div>
            <img class="selfie" alt="Parisya" src="{{ site.url }}/images/foto-profil.jpg">
        </div>
        <div class="social-links">
            <a class="social" href="http://instagram.com/parisyashp">
                <i class="fa fa-instagram">
                </i>
            </a>
            <a class="social" href="mailto:saniyahendi@gmail.com">
                <i class="fa fa-envelope">
                </i>
            </a>
            <a class="social" href="http://linkedin.com/in/parisyashp">
                <i class="fa fa-linkedin">
                </i>
            </a>
        </div>
        <p class="description">ERP • Business Analysis • Data & Consulting</p>

    </div>

</div>